In [1]:
import pandas as pd
import os

In [2]:
df = pd.DataFrame({'a':[1,1,1,2,2,3,4,5],
                  'b':[10,10,11,20,20,30,40,50]})

In [3]:
df # to print any object, jst type in the console - print() can also be used for similar result

   a   b
0  1  10
1  1  10
2  1  11
3  2  20
4  2  20
5  3  30
6  4  40
7  5  50

#### Duplicates

In [4]:
# inplace = True if you want to replace the original df
df_no_duplicates = df.drop_duplicates()
df.drop_duplicates(inplace=True)

#### Missing Values

In [5]:
df = pd.DataFrame({'a':[1,2,3,4],
                  'b':[10,None,30,40],
                  'c':[None,None,None,400]})

In [6]:
df.isnull()

       a      b      c
0  False  False   True
1  False   True   True
2  False  False   True
3  False  False  False

In [7]:
df.isnull().any(axis=0) # column-wise

a    False
b     True
c     True
dtype: bool

In [10]:
df.isnull().any(axis=1) # row-wise

0     True
1     True
2     True
3    False
dtype: bool

In [11]:
df.isnull().sum()

a    0
b    1
c    3
dtype: int64

In [14]:
df_only_full_rows = df.dropna()
df_only_full_rows

   a     b      c
3  4  40.0  400.0

In [15]:
df_rows_where_b_is_not_missing = df.dropna(subset=['b'])
df_rows_where_b_is_not_missing

   a     b      c
0  1  10.0    NaN
2  3  30.0    NaN
3  4  40.0  400.0

#### Replace missing values

In [16]:
# A Standard method is to replace the missing value with the average
# If we use this method with a lot of missing values, might screw up our analysis
mean_b = df['b'].mean()
df_missing_b_replaced_with_mean = df.fillna(value={'b':mean_b})
df_missing_b_replaced_with_mean

   a          b      c
0  1  10.000000    NaN
1  2  26.666667    NaN
2  3  30.000000    NaN
3  4  40.000000  400.0

In [17]:
df_missing_b_replaced_with_mean_missing_c_replaced_with_zero = df.fillna(value={'b':mean_b,
                                                                                'c':0})
df_missing_b_replaced_with_mean_missing_c_replaced_with_zero

   a          b      c
0  1  10.000000    0.0
1  2  26.666667    0.0
2  3  30.000000    0.0
3  4  40.000000  400.0

In [18]:
df.fillna('Unknown', inplace=True)
df

   a        b        c
0  1       10  Unknown
1  2  Unknown  Unknown
2  3       30  Unknown
3  4       40      400

#### Numeric Data

In [19]:
df = pd.DataFrame({'a':[1,1,1,2,2,3,4,5],
                  'b':[10,10,11,20,None,None,40,50],
                  'c':['apple','apple','plum','pear','plum','apple','apple','apple']})

In [20]:
df.dtypes

a      int64
b    float64
c     object
dtype: object

In [21]:
df['c'].dtype

dtype('O')

In [ ]:
df.describe()

In [22]:
df.max()
#df['a'].max()

a       5
b      50
c    plum
dtype: object

#### Non Numeric Data

In [ ]:
df['c'].unique()

In [ ]:
df['c'].nunique()

In [ ]:
df['c'].value_counts()

#### Dates

In [23]:
df = pd.DataFrame({'a':['2019-01-01 14:13', '2019-02-01 14:13'],
                  'b':[1546351980, 1549030380]})
df

                  a           b
0  2019-01-01 14:13  1546351980
1  2019-02-01 14:13  1549030380

In [24]:
df.dtypes

a    object
b     int64
dtype: object

In [25]:
df['a_asdate'] = pd.to_datetime(df['a'], format='%Y-%m-%d %H:%M')
df['b_asdate'] = pd.to_datetime(df['b'], unit='s')

In [26]:
df

                  a           b            a_asdate            b_asdate
0  2019-01-01 14:13  1546351980 2019-01-01 14:13:00 2019-01-01 14:13:00
1  2019-02-01 14:13  1549030380 2019-02-01 14:13:00 2019-02-01 14:13:00

In [27]:
df.dtypes

a                   object
b                    int64
a_asdate    datetime64[ns]
b_asdate    datetime64[ns]
dtype: object

#### Data Manipulation

In [ ]:
df = pd.DataFrame({'dates':pd.date_range(start='1/1/2018', end='1/8/2018')})
df

In [ ]:
df['year'] = df['dates'].dt.year
df['month'] = df['dates'].dt.month
df['day'] = df['dates'].dt.day
df['dayofweek'] = df['dates'].dt.dayofweek
df['weekday_name'] = df['dates'].dt.weekday_name
df['is_leap_year'] = df['dates'].dt.is_leap_year
# see more https://pandas.pydata.org/pandas-docs/version/0.21/api.html#datetimelike-properties

In [ ]:
df

#### Filtering

In [ ]:
df = pd.DataFrame({'a':[1,1,1,2,2,3,4,5],
                  'b':[10,10,11,20,0,0,40,50],
                  'c':['apple','apple','plum','pear','plum','apple','apple','apple']})
df

In [ ]:
df['a']<3

In [ ]:
df[df['a']<3]

In [ ]:
only_apple = df[df['c']=='apple']
only_apple

In [ ]:
df[(df['b']==10) & (df['c']=='apple')]

In [ ]:
df[df['a']<df['b']]

#### Grouping

In [3]:
os.chdir('C:\\Users\\daniel.molnar\\Documents\\Projects\\Mashup\\Advanced_Analytics_Python\\data\\')

In [ ]:
movies = pd.read_csv('movies.csv')
# This file contains movies, their genre, and users with their ratings of the movie

In [ ]:
movies.groupby('title').size()

In [ ]:
movies.groupby('title').size().sort_values(ascending=False).head()

In [ ]:
movies.groupby('title')['rating'].mean().sort_values(ascending=False).head()

In [ ]:
movies.groupby('title').agg({'rating':'mean',
                            'userId':'nunique'})

In [ ]:
# the backslashes are needed to escape the new line character. Indentation is important for python
ratings = movies.groupby('title')\
                .agg({'rating':'mean', 'userId':'nunique'})\
                .rename(columns={'rating':'rating_mean','userId':'nb_rating'})\
                .sort_values('rating_mean',ascending=False)\
                .head()

In [ ]:
ratings

#### Plotting

In [ ]:
%matplotlib inline # will make your plot outputs appear and be stored within the notebook

In [ ]:
ratings_by_genre = movies.groupby('genre')['rating'].mean()

In [ ]:
ratings_by_genre.plot(kind='bar')

In [ ]:
ratings_by_genre.sort_values().plot(kind='bar')

In [ ]:
ratings_by_genre\
    .sort_values()\
    .plot(kind='bar', title='Mean raging by genre')

In [ ]:
ratings_by_genre\
    .sort_values()\
    .plot(kind='bar', title='Mean raging by genre', figsize=(14,4), color = 'lime')

In [ ]:
by_year_genre = movies.groupby(['year','genre'])['rating'].mean()

In [ ]:
by_year_genre.head()

In [ ]:
by_year_genre = movies.groupby(['year','genre'])['rating'].mean().reset_index()

In [ ]:
by_year_genre.head()

In [ ]:
by_year_genre.sort_values('year', inplace=True)

In [ ]:
pivoted_df = by_year_genre.pivot(index='year', columns='genre', values='rating')

In [ ]:
pivoted_df.head()

In [ ]:
pivoted_df.plot(kind='bar', figsize=(15,5), title='Average ratings by year of premiere and genre')

In [ ]:
pivoted_df.plot(kind='bar', 
                figsize=(15,5), 
                title='Average ratings by year of premiere and genre',
               colormap='winter')

#### Multiple Plots

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
by_year_genre2 = movies.groupby(['year','genre'])['userId'].nunique().reset_index().sort_values('year')
pivoted_df2 = by_year_genre2.pivot(index='year', columns='genre', values='userId')

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2)
fig.suptitle('Ratings by year of premiere and genre')
pivoted_df.plot(kind='bar',  
                title='Average',
                colormap='winter',
                ax=axes[0]
                )
pivoted_df2.plot(kind='bar', 
                figsize=(15,5), 
                title='Number',
               colormap='summer',
               ax=axes[1])
plt.show()

In [ ]:
pivoted_df[pivoted_df.index.isin(['(2010)', '(2011)'])]

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2)
fig.suptitle('Ratings by year of premiere and genre')
pivoted_df[pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Average',
                colormap='winter',
                ax=axes[0,0]
                )
pivoted_df2[pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Number',
               colormap='summer',
               ax=axes[0,1])
pivoted_df[~pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Average',
                colormap='winter',
                ax=axes[1,0]
                )
pivoted_df2[~pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                figsize=(15,5), 
                title='Number',
               colormap='summer',
               ax=axes[1,1])
plt.show()

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2)
fig.suptitle('Ratings by year of premiere and genre')
pivoted_df[pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Average',
                colormap='winter',
                ax=axes[0,0]
                )
pivoted_df2[pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Number',
               colormap='summer',
                legend=False,
               ax=axes[0,1])
pivoted_df[~pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                title='Average',
                colormap='winter',
                legend=False,
                ax=axes[1,0]
                )
pivoted_df2[~pivoted_df.index.isin(['(2010)', '(2011)'])].plot(kind='bar', 
                figsize=(20,15), 
                title='Number',
               colormap='summer',
               ax=axes[1,1])
plt.show()

### Exercise

#### The task is to find out if there is a difference between Subscriber and Customer routines

- Load data from the data/trip_filled.csv file
- Convert the Start Date column into start_datetime
- Create a start_hour column containing the hour when the trip started.
- Plot the bike usage using this newly created field. We are interested in usage during different times of day.
- Group the data by Subscription Type and create a chart showing the difference in the two subscription groups.
- Let's create the same chart for weekday and weekend trips, to see if there is a difference there.

Solutions should look similar to these:
<img src="exc7_chart.png">
<br><br>
<img src="exc10_chart.png">
<br><br>
<img src="exc10_chart_advance.png">